<%= render partial: 'layouts/header' %>

<div class='presenter' class='jumbotron'>
   <div class='container'>
	 <div class='row'>
		<div class='col-md-12'>
		    <ul class='list-unstyled text-center'>
			   <li><h1>ALVOROÇO FILMES</h1></li>
			   <li><p> Lorem ipsum lorem siamet dolor.</p></li>
		    </ul><!-- list-unstyled -->
		 </div><!--  col-md-12 -->
	  </div><!-- row -->
   </div><!-- container -->
</div><!-- presenter -->

<section id='about'>
  <div class='container'>
  	 <div class='row'>
  	 	<div class='col-md-12'>
  	 		 
  	 		 <div class='col-md-6'>
  	 		 	<div class='panel panel-default'>
  	 		 	  <ul class='list-unstyled'> 
  	 		 	  	 <li><h2>VT PUBLICITÁRIO</h2></li>
  	 		 	  </ul><!-- list-unstyled -->
  	 		 	</div><!-- panel panel-default -->
  	 		 </div><!-- col-md-6 -->

  	 		 <div class='col-md-6'>
  	 		 	<div class='panel panel-default'>
  	 		 	  <ul class='list-unstyled'> 
  	 		 	  	 <li><h2>VIDEO INSTITUCIONAL</h2></li>
  	 		 	  </ul><!-- list-unstyled -->
  	 		 	</div><!-- panel panel-default -->
  	 		 </div><!-- col-md-6 -->

  	 		 <div class='col-md-6'>
  	 		 	<div class='panel panel-default'>
  	 		 	  <ul class='list-unstyled'> 
  	 		 	  	 <li><h2>PROJETOS CINEMA E TELEVISÃO</h2></li>
  	 		 	  </ul><!-- list-unstyled -->
  	 		 	</div><!-- panel panel-default -->
  	 		 </div><!-- col-md-6 -->

  	 		 <div class='col-md-6'>
  	 		 	<div class='panel panel-default'>
  	 		 	  <ul class='list-unstyled'> 
  	 		 	  	 <li><h2>AUDIOVISUAL EM GERAL</h2></li>
  	 		 	  </ul><!-- list-unstyled -->
  	 		 	</div><!-- panel panel-default -->
  	 		 </div><!-- col-md-12 -->

  	 		 <div class='col-md-6'>
  	 		 	<div class='panel panel-default'>
  	 		 	  <ul class='list-unstyled'> 
  	 		 	  	 <li><h2>OFICINA PARA CINEMA, TELEVISÃO E PUBLICIDADE</h2></li>
  	 		 	  </ul><!-- list-unstyled -->
  	 		 	</div><!-- panel panel-default -->
  	 		 </div><!-- col-md-12 -->

  	 	</div><!-- col-md-12 -->
  	 </div><!-- row -->
  </div><!-- container -->
</section>
	
<section id='contact'>
	<div class='container'>
	   <div class='row'>
	   	  <div class='col-md-12'>
	   	  	 <ul class='list-unstyled'>
	   	  	 	<li><h2><i class='glyphicon glyphicon-search'></i> CONTATO</h2></li>
	   	  	 	<li>Entre em contato conosco.</li>
	   	  	 	<li><hr></li>

	   	  	 	<%= render partial: 'contact/form' %>

	   	  	 </ul><!-- list-unstyled -->
	   	  </div><!-- col-md-12 -->
	   </div><!-- row -->
	</div><!-- container -->
</section><!-- contact -->

<%= render partial: 'layouts/footer' %>