// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home{

	 // Navbar
	 // @implemented
	 .navbar {
	  background-color: #000;
		border: 1px solid #000;
	 }
	 .navbar-brand {
		color: red !important;
		font-weight: bold;
	 }
	 .navbar-default {
	 a {
	  text-transform: uppercase;
	  font-size: 13px;
	 }
	}

	// Home
	// @implemented
	#home {
	 position: relative;
	 background-color: #000;
	 height: 540px;
	 ul:nth-child(1){
	  position: relative;
	  margin-top: 140px;
		h1 {
		 position: relative;
		 color: red;
		}
		p {
			position: relative;
			color: #CCC;
			font-weight: bold;
		}
	 }
	}

  // About
	// @implemented
	#about {
	 position: relative;
	 i {
		 position: relative;
		 background-color: #000;
		 width: 112px;
		 height: 112px;
		 border-radius: 112px;
		 color: #FFF;
		 padding: 18px 10px 12px 13px;
		 font-size: 68px !important;
		 animation: rotate(90deg);
		 transition: 0.50s;
		 &.over, &:hover {
			opacity: 0.70;
			transition: 0.50s;
			cursor: pointer;
		 }
	 }
	}

	// Project
	// @implemented
	#projects {
	position: relative;
	background: #1b1b1b;
	padding-top: 30px;
	padding-bottom: 30px;
	color: #FFF;
	.project {
	 position: relative;
	 a {
	  width: 100%;
	  border: 2px solid #000;
	  background-color: #FFF;
	  color: #000;
	 }
	}
 }
	// Films
	// @implemented
	#films {
	 position: relative;
	 background-color: #EEE;
	 padding-bottom: 50px;

	 .film{
		position: relative;
		border-radius: none !important;
		transition: 0.50s;
		&.over, &:hover {
		 cursor: pointer;
		 opacity: 0.70;
		 transition: 0.50s;
		 box-shadow: 10px 10px 10px #999;
		}

		button{
		 position: relative;
		 background-color: #inherit;
		 border: 1px solid #CCC;
		 color: #CCC;
		 border-radius: 0px !important;
		 font-weight: bold;
		 transition: 0.50s;
		 &.over, &:hover {
			position: relative;
			background-color: #CCC;
			border: 1px solid #CCC;
			color: #FFF;
			cursor: pointer;
			transition: 0.50s;
		 }
		}

	 }
	 .thumb {
		position: relative;
		background-color: #EEE;
		width: 100%;
		height: 220px;
	 }
	 h4 {
		position: relative;
		text-transform: uppercase;
		color: #000;
	 }
	 form {
		 input[type='text']{
			 position: relative;
			 height: 44px !important;
			 border-radius: 44px;
			 margin-bottom: 10px;
		 }
	 }
	}

	// Contact
	// @implemented
	#contact {
	 position: relative;
	 color: #FFF;
	 background-color: #1b1b1b;
	 padding-top: 20px;
	 padding-bottom: 50px;

	 form {
	   .input-group-addon {
	   	background-color: #FFF;
	   	border-right: none;
	   }
	   input[type=text], input[type=email], input[type=tel]{
	    position: relative;
			background-color: inherit !important;
	    border-left: none;
			border-top: none;
			border-right: none;
			border-radius: 0px !important;
			border-bottom: 1px solid #CCC;
	    height: 62px;
			margin: 10px 0px 10px 0px;
			color: #FFF;
			transition: 0.50s;
			::-webkit-input-placeholder {
				color: red !important;
			}
			&.focus, &:focus {
			 border-bottom: 1px solid red;
			 transition: 0.50s;
			}
	   }
	   textarea {
			background-color: inherit !important;
			border-left: none;
			border-top: none;
			border-right: none;
			border-radius: 0px !important;
			position: relative;
	    resize: none;
	    height: 237px;
			color: #FFF;
			&.focus, &:focus {
				position: relative;
				transition: 0.50s;
				border-bottom: 1px solid red;
			}
	   }
	   input[type=submit] {
	    position: relative;
			border-radius: 0px !important;
			background-color: inherit;
			border: 2px solid #FFF;
			text-transform: uppercase;
	    transition: 0.30s;
		  margin-left: 60px;
			padding: 20px;
			text-transform: uppercase;
			font-weight: bold;
			margin-top: 20px;
			&.over, &:hover {
	     transition: 0.30s;
			 color: #1b1b1b;
			 background-color: #FFF;
	     cursor: pointer;
	    }
	   }
	  }
	 }

	// Footer
	// @implemented
	footer {
	 position: relative;
	 margin-top: 40px;
	 margin-bottom: 0px !important;
	 padding-bottom: 20px;

		i {
		 position: relative;
		 background-color: #000;
		 width: 44px;
		 height: 44px;
		 border-radius: 44px;
		 padding: 12px;
		 color: #FFF;
		 font-size: 18px;
		}

	}

}
