<footer class='jumbotron'>
	<div class='container'>
		<div class='row'>
			<div class='col-md-12'>
				<div class='col-md-5'>
				  <ul class='list-unstyled'>
				  	 <li><h2><strong>ALVOROÇO FILMES</strong></h2></li>
				  	 <li><p>Alvoroço em alvorada.</p></li>
				  	 <ul class='list-unstyled list-inline'>
				  	 	<li><i class='glyphicon glyphicon-search'></i> <a href=''>contato@alvoroco.com.br</a></li>
				  	 	<li><i class='glyphicon glyphicon-search'></i> <a href=''> (11) 973040-4612 </a></li>
				  	 </ul><!-- lsit-unstyled -->
				  </ul><!--list-unstyled -->
				</div><!-- col-md-5 -->
				<div class='col-md-2 col-md-offset-1'>
				  <ul class='list-unstyled'>
				  	 <li><h4><i class='glyphicon glyphicon-search'></i> SITEMAP</h4></li>
				  </ul><!-- lsit-unstyled -->
				</div><!-- col-md-2 -->
				<div class='col-md-2'>
				  <ul class='list-unstyled'>
				  	<li><h4><i class='glyphicon glyphicon-search'></i> 	LINKS UTÉIS</h4></li>
				  </ul><!-- list-unstyled -->
				</div><!-- col-md-2 -->
				<div class='col-md-2'>
				  <ul class='list-unstyled'>
				  	<li><h4><i class='glyphicon glyphicon-search'></i>  EXTRAS</h4></li>
				  </ul><!-- list-unstyled -->
				</div><!-- col-md-2 -->

				<div class='col-md-12'>
					<ul class='list-unstyled text-center'>
					   <li><h4><strong>ALVOROÇO FILMES &copy <%= Date.today.year %></strong></h4></li>
					   <li><p>Todos os direitos reservados</p></li>
					   <li>Powered by <strong><%=  link_to 'CODE7EVEN', 'http://code7even.com' %></strong></li>
					</ul><!-- list-unstyled -->
				</div><!-- col-md-12 -->

			</div><!-- col-md-12 -->
		</div><!-- row -->
	</div><!-- container -->
</footer><!-- footer -->